/*
 selectores
*/

/* selector universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

/* selector de etiqueta */
h1{
    background: red;
    color: White;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: green;
}
/* selector compuesto */
footer a {
    color: red;
}

/* selector de id para unicos elementos */
#descripcion{
    border: 1px solid black; 
    padding: 15px;
}

#titulo{
    background: blue;
}

/* selector de clases para muchos elementos*/

.parrafo{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.parrafo1, parrafo3 {
    background-color: green;
    color: white;
    padding: 15px;
}

.parrafo3{
    background-color: orange;
    color: black;
}


/* selector de atributo */

#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
}

#usuario form * {
    display: block;
}

/* selector de atributos 
con los corchetes selecciono el atributo */
input[type="text"]{
    margin-bottom: 15px;
    padding: 15px;
}
input[type="submit"]{
    background: green;
    color: white;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/* selectores hijos */

#menu > li > a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

/* prioridad la ultima regla de css machaca la anterior*/

/* css premia la especificidad, por lo que predomina este con el id */
#saludo h1{
    background: brown;
}

/* si colocamos !important */
h1{
    background: purple !important; 
}
