body {
  /* background: red imagen repeticion posicion; */
  background-color: #ccc;
  background-image: url("img/patron1.png");
}

#caja {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(49, 152, 200);
  color: rgb(60, 13, 13);
}

h2 {
  color: white;
  background-color: white;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
